<h1>Test</h1>
<%= @city_name %>
<%= @no_lights  %>

<div>
  <p><b>Name:</b>   <%= @light_chosen.name %></p>
  <p><b>Make:</b>   <%= @light_chosen.make %></p>
  <p><b>Retail Cost:</b>   <%= @light_chosen.retailcost %></p>
  <p><b>Watt:</b>   <%= @light_chosen.watt %></p>
  <p><b>Avg. Lumen:</b>   <%= @light_chosen.avglumen %></p>
  <p><b>Life:</b>   <%= @light_chosen.life %></p>
  <p><b>Color Temp:</b>   <%= @light_chosen.colortemp %></p>
</div>
