
<div class="clear-div">
<%= @city_name %>
  <br/>
<%= @no_lights  %>
</div>

<div class="float-left half-width" >
  <p><b>Name:</b>   <%= @light_chosen.name %></p>
  <p><b>Up-front Investment:</b>   $<%= @upfront_inv %></p>
  <p><b>Annual Electricity Consumption:</b>   $<%= @var_cost %></p>
  <p><b>Replacement Cost:</b>   $<%= @replacement_cost %></p>
</div>

<div class="float-right half-width">
  <p><b>Name:</b>   <%= @led.name %></p>
  <p><b>Up-front Investment:</b>   $<%= @led_upfront_inv %></p>
  <p><b>Annual Electricity Consumption:</b>   $<%= @led_var_cost %></p>
  <p><b>Replacement Cost:</b>   $<%= @led_replacement_cost %></p>
</div>