<h1>Test</h1>
<%= @washer_id %>
<%= @washer_kwhyr %>
<%= @rate %>

<%=    @optimized_washer_deltas  %>
<%=    @optimized_washer_savings %>


<h2>Fridge</h2>
<%= @opt_fridges %>

<h3>Dishwashers</h3>
<%= @opt_dws %>